:root{
  --background-color:#fdfdfd;
  --color-text:#222;
  --1:#2d7bd8;
  --2:#d0e7fe;
  --3:#ff842b;
  --4:#A08986;
  --font-text-1:17px;
  --font-text-2:20px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none ;
  text-decoration: none;
  font-size: var(--font-text-2);
}

body{
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--color-text);
}
